body {
  background: linear-gradient(135deg, #4facfe 0%, #070707 100%);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  margin: 0;
  padding: 40px;
}

section {
  background: rgb(19, 17, 17);
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

h2 {
  text-align: center;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f3f6f3;
  border-radius: 8px;
  padding: 10px 14px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  font-weight: 500;
  color:#070707
}

li button {
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

li button:hover {
  background: #dc2626;
}

input {
  flex: 1;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px;
}

button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #3b82f6;
  color: white;
  font-weight: 600;
}

button:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}
